.backgroundImage {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.app {
  height: 100dvh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  gap: 2rem;
  color: white;
}

.keys {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
